# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d/
crash.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json

# SSH keys
*.pem

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Docker
.env
.env.local
.env.*.local

# Loki runtime data
loki/chunks/
loki/rules/
loki/index/
loki/cache/

# Fluent Bit runtime DB
fluent-bit/*.db

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

#docs
ANSWER_KEY_PART1.md
ANSWER_KEY_PART2.md
ANSWER_KEY_PART3.md
REVIEW_QUESTIONS.md